/* DEVELOPER: Hareem Awan, IS117-001, Fall 2022 */


/* the styles for the elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: lightpink;
}
body {
    font-family: 'Times New Roman ', serif;
    font-size: 100%;
    max-width: 960px;
    border: 3px dashed white;
    background-color: white;
    margin: auto;
}
a:focus, a:hover {
    font-style: italic;
}
.col-sm-10 {
    line-height: 1.8;
}
.col-sm-12{
    text-align: center;
}
.card-img-top {
    float: right;
}

header {
    padding: 1.5em 0 2em 0;
    margin: 0;
    border-bottom: 3px solid #931420;
    background-image: -moz-linear-gradient(
            30deg, lightpink 0%, lightpink 30%, white 50%, lightpink 80%, lightpink 100%);
    background-image: -webkit-linear-gradient(
            30deg, lightpink 0%, lightpink 30%, white 50%, lightpink 80%, lightpink 100%);
    background-image: -o-linear-gradient(
            30deg, lightpink 0%, lightpink 30%, white 50%, lightpink 80%, lightpink 100%);
    background-image: linear-gradient(
            30deg, lightpink 0%, lightpink 30%, white 50%, lightpink 80%, lightpink 100%);
}
header h2 {
    font-size: 150%;
    color: black;
    margin-top: 10px;
    margin-bottom: 0;
}
header p {
    padding: 0;
    margin: 0;
    font-style: italic;
}
header img {
    float: left;
    padding: 0 5px;
}

#quote {
    font-style: italic;
    text-align: center;
}
h1 {
    text-align: center;
    padding-top: 5px;
    text-decoration: dashed underline lightpink;
}
h5 {
    text-align: center;
}

.d-flex {
    float: right;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightpink;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 15px;
}

.form-group {
    padding: 5px 5px 20px;
}
aside {
    float: right;
}
img .floatingright {
    float: right;
}
main ul li p .rec {
    font-size: 20px;
}
.card-body img{
    width: 200px;
    height: 200px;
    padding: 5px;
}
ol li {
    line-height: 1.8
}

